In [ ]:
import pandas as pd
class Person(object):
    def __init__(self, name='', year=0, salary=0):
        self.name = name
        self.year = year
        self.salary = salary

person1 = Person('john', 2017, 100)
person2 = Person('smith', 2016, 200)
person3 = Person('roger', 2016, 500)

person_list = [person1, person2, person3]

df = pd.DataFrame([x.__dict__ for x in person_list])

In [9]:
df=df.append([person3.__dict__])

In [10]:
print(df)

    name  salary  year
0   john     100  2017
1  smith     200  2016
2  roger     500  2016
0  roger     500  2016

In [13]:
import ipywidgets as widgets

In [14]:
w=widgets.Output()

In [16]:
df

    name  salary  year
0   john     100  2017
1  smith     200  2016
2  roger     500  2016
0  roger     500  2016