In [1]:
import pandas as pd
class Person(object):
    def __init__(self, name='', year=0, salary=0):
        self.name = name
        self.year = year
        self.salary = salary

person1 = Person('john', 2017, 100)
person2 = Person('smith', 2016, 200)
person3 = Person('roger', 2016, 500)

person_list = [person1, person2, person3]

df = pd.DataFrame([x.__dict__ for x in person_list])

In [2]:
df=df.append([person3.__dict__])

In [3]:
print(df)

    name  salary  year
0   john     100  2017
1  smith     200  2016
2  roger     500  2016
0  roger     500  2016

In [4]:
df

    name  salary  year
0   john     100  2017
1  smith     200  2016
2  roger     500  2016
0  roger     500  2016

In [7]:
df.append([{'q':'q','3':5}], sort=False)

    name  salary    year    3    q
0   john   100.0  2017.0  NaN  NaN
1  smith   200.0  2016.0  NaN  NaN
2  roger   500.0  2016.0  NaN  NaN
0  roger   500.0  2016.0  NaN  NaN
0    NaN     NaN     NaN  5.0    q

In [10]:
df.append([{}], sort=False)

KeyError: "None of [Index(['name', 'salary', 'year'], dtype='object')] are in the [columns]"